<h1>Serilog Demo</h1>
<p>Check the <b>logs</b> folder in your server directory to check the logs newly created. You can also pass params <b>param1</b> &amp; <b>param2</b> and and check if they are getting logged under <b>DBG</b></p>